*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    background: #6f36ff;
}

.mainDiv{
    background: white;
    width: 300px;
    top: 50%;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%)scale(1.4);
}

.wrapper{
    background: white;
    width: 300px;
    top: 0%;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}

.wrapper header{
    color: #6f36ff;
    font-size: 23px;
    font-weight: 500;
    padding: 17px 30px;
    border-bottom: 1px solid #bfbfbf;
}

.content{
    margin: 30px 30px 40px;
}

/*to do list*/
#inputField{
  margin: 10px;
}

#addToDo{
  color: white;
  background:royalblue;
  border-radius:5px;
}

