*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    background-image: url("../img/background1.jpg");
}

.mainDiv{
    background: #cccc;
    width: 300px;
    top: 50%;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%)scale(1.4);
}

.wrapper{
    background:#ccc;
    width: 300px;
    top: 0%;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}

.mainDiv header{
    color: #6f36ff;
    font-size: 23px;
    font-weight: 500;
    padding: 17px 60px;
}

.content{
    margin: 30px 30px 40px;
}

/*to do list*/
#inputField{
    border-radius: 6px;
    margin: 10px;
    width: 230px;
}

#addToDo{
    margin-left: 10px;
    width: 100px;
    color: white;
    background:royalblue;
    border-radius:5px;
}
